<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10 flex items-center justify-center">
        
        <div class="w-72 h-82  border-2 border-zinc-700 rounded-md px-10 ">
            <h1 class="text-xl font-semibold text-center mb-4 mt-1">Hello 👋</h1>
            <form action="/create" method="post" class="flex flex-col gap-2">
                <input class="px-3 py-2 border-2 border-zinc-600 rounded-md outline-none" type="text" required="enter name" name="name" placeholder="Enter Your Name..">
                <input class="px-3 py-2 border-2 border-zinc-600 rounded-md outline-none" type="text" name="email" required="enter email" placeholder="Enter Email..">
                <input class="px-3 py-2 border-2 border-zinc-600 rounded-md outline-none" type="number" name="age" required="enter age" placeholder="Enter Age.."><br>
                <input class="px-3 py-1  bg-red-600 rounded-md " type="submit" value="submit">
                <a class="px-3 py-1 text-center bg-blue-600 rounded-md" href="/read">show data</a>
            </form>
            
        </div>
    </div>
</body>
</html>